    <h1>
        {{ 'educationsTitle' | translate }}
    </h1>
    
    <div class="separator"></div>
    
    <div ng-controller="educationsController as educationsCtrl" class="margTop25">
        
        <div ng-repeat="educationGroup in educationsCtrl.educations">
            
            <h3 style="display: inline">{{ educationGroup.name }}</h3>
            
            <div class="row">

                <graduate class="col-sm-6 col-md-4 col-lg-4"
                          ng-repeat="graduate in educationGroup.graduates">
                </graduate>

            </div>

        </div>
        
    </div>
        