    
    <h1> {{ 'ProjectsTitle' | translate }} </h1>
    
    <div class="separator"></div>
    
    <div class="text-center margBot10">
        <big><span class="glyphicon glyphicon-info-sign"></span></big> &nbsp;
        {{ 'clickProjectInfo' | translate }}
    </div>
    
    <div class="row" ng-controller="projectsController as projectsCtrl">

        <project class="col-sm-6 col-md-6 col-lg-6" 
                 ng-repeat="project in projectsCtrl.projects">
        </project>

    </div>
    
    
    
    
