    <h1>
        {{ 'diplomaTitle' | translate }}
    </h1>
    
    <div class="separator"></div>
    
    <div ng-controller="diplomaController as diplomaCtrl" class="margTop25">
        
        <div ng-repeat="diplomaGroup in diplomaCtrl.diploma">
            
            <h3>{{ diplomaGroup.name }}</h3>
            
            <div class="row">

                <graduate class="col-sm-6 col-md-4 col-lg-4"
                          ng-repeat="graduate in diplomaGroup.graduates">
                </graduate>

            </div>

        </div>
        
    </div>
        